<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <div class="text-danger" *ngIf="!myForm.controls['name'].valid">
            Required
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <div class="text-danger" *ngIf="!myForm.controls['email'].valid">
            Invalid Email
          </div>
        </div>
        <div class="form-group">
          <label for="post">Post</label>
          <textarea rows="4" class="form-control" id="post" formControlName="post"></textarea>
          <div class="text-danger" *ngIf="!myForm.controls['post'].valid">
            Minimum length 10
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="getData()">Get Data</button>
      </form>
    </div>
  </div>
</div>